<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionstrings>
		<add name="defaultconnection"
			 connectionstring="server=DESKTOP-NEFOSTI;Database=ND;integrated security=True;"
			 providerName="'System.Data.SqlClient"/>
	</connectionstrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>